---
layout: default
title: Community
permalink: /community/
highlight: community
titlebar: title-017.jpg
background-position: top
---
<div id="our-peterborough" class="jx-container jx-padding jx-light background-002">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-heart-empty icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">OUR PETERBOROUGH</div>
      <div class="jx-subtitle">
        <p>With our <em>Getting Shit Done&trade;</em> attitude we continue to push forward and engage with Peterborough and the surrounding community to make awesome things happen.</p>
      </div>
		</div>
    
    <div>

      <div class="jx-venue one-third columns jx-service-item community-item">
        <div class="jx-venue-item">
            <a href="{{ site.data.links.discord }}" title="PTBO Game Jam's Discord Server">
          <div class="image-hover">
            <div class="image"><img src="/content/img/community/discord.jpg" class="max-width" alt="PTBO Game Jam Discord Server" srcset="/content/img/community/discord.jpg 1x, /content/img/community/discord@2x.jpg 2x"></div>
            <div class="title">#GameDev Chat</div>
          </div>
          </a>
          <div class="details">Want to socialize with other devs? Hop on our Discord server and strike up a conversation. Make sure to checkout our <strong><a href="{{ site.data.links-relative.community-guidelines | prepend: site.baseurl }}">Community Guidelines</a></strong>!</div>
        </div>
      </div>

      <div class="jx-venue one-third columns jx-service-item community-item">
        <div class="jx-venue-item">
            <a href="{{ site.data.links.discord }}" title="PTBO Game Jam's Discord Server">
          <div class="image-hover">
            <div class="image"><img src="/content/img/community/friends.jpg" class="max-width" alt="Pub Night" srcset="/content/img/community/friends.jpg 1x, /content/img/community/friends@2x.jpg 2x"></div>
            <div class="title">Pub Night</div>
          </div>
          </a>
          <div class="details">It's nice to get away from the daily grind and talk about the awesome world of <strong>#gamedev</strong>. A night out with other like-minded individuals in a casual environment where you can get a bite to eat, a drink, and socialize. Checkout the <strong>#pubnight</strong> channel on the <strong><a href="{{ site.data.links.discord }}" title="PTBO Game Jam Discord Server">Discord</a></strong> server for the next date!</div>
        </div>
      </div>

      <div class="jx-venue one-third columns jx-service-item">
        <div class="jx-venue-item">
          <a href="{{ site.data.links.swag }}" title="Swag">
          <div class="image-hover">
            <div class="image"><img src="/content/img/community/swag.jpg" class="max-width" hdpi="true" alt="PTBO Game Jam Swag"></div>
            <div class="title">Swag</div>
          </div>
          </a>
          <div class="details">Everyone loves swag! It is one of the best forms of promotion. We partnered with <strong><a href="http://ptbogamejam.entripyshops.com/">Entripy</a></strong> to provide you with some high-quality gear.</div>
        </div>
      </div>

    </div>
    
  </div>
</div>

{% include block-ticker.html %}
{% include block-summary.html %}
