
<div id="brand-incorrect" class="gj-container gj-padding gj-light background-003">
  <div class="container">
    <div class="gj-section-title-1">
      <div class="gj-pre-title gj-short-border">
        <div class="gj-title-border gj-title-border-light left"></div>
        <div class="gj-title-icon-light"><i class="icon-frown icon-3x"></i></div>
        <div class="gj-title-border gj-title-border-light right"></div>
      </div>
      <div class="gj-title gj-title-light gj-uppercase">Incorrect Usage</div>
      <div class="gj-subtitle"><p>We ask <strong>politely</strong> once, <em>and only once,</em> that you respect our branding (after all we do the same for everyone else's).</p></div>
		</div>
		<div class="incorrect-branding">
          <ul>
            <li><img src="/content/img/brand/bad-angle.png" alt="NO Angles"><div class="brand-bad"><strong>Do not</strong> rotate the logo. This isn't the 90s.</div></li>
            <li><img src="/content/img/brand/bad-color.png" alt="No Recolor"><div class="brand-bad"><strong>Do not</strong> alter the coloring used in the logo. We provide event specific coloring options.</div></li>
            <li><img src="/content/img/brand/bad-distort.png" alt="No Distortion"><div class="brand-bad"><strong>Do not</strong> stretch, skew, or alter the readability of the logo. Come on, this is just terrible.</div></li>
            <li><img src="/content/img/brand/bad-stroke.png" alt="No Stroke"><div class="brand-bad"><strong>Do not</strong> apply a stroke to make the logo work with a particular background.</div></li>
          </ul>
        </div>
  </div>
</div>
