
<div id="venue-layout" class="gj-container gj-padding gj-light">
  <div class="container">
    <div class="gj-section-title-1">
      <div class="gj-pre-title gj-short-border">
        <div class="gj-title-border gj-title-border-light left"></div>
        <div class="gj-title-icon-light"><i class="icon-map-o icon-3x"></i></div>
        <div class="gj-title-border gj-title-border-light right"></div>
      </div>
      <div class="gj-title gj-title-light gj-uppercase">VENUE LAYOUT</div>
      <div class="gj-subtitle"><p>With over 87,000 square feet of space, the Kawartha Trade &amp; Technology Centre stands as a beacon of technological innovation in Peterborough, Ontario providing orginizations like ours with a fantastic environment to foster industry growth and development.</p></div>
		</div>
		<div class="gj-interactive-map">
			<div class="gj-inter-map">
				<img src="/content/img/event/03/venue.png" srcset="/content/img/event/03/venue.png 1x, /content/img/event/03/venue@2x.png 2x" alt="Venue Layout" />
			</div>
			<div class="gj-map-info">
				<div id="01" class="gj-sidebar-widget">
        	<div class="widget widget_recent_entries">
	          <div class="sub">
	            <h4>Parking</h4>
	            <div class="gj-right-pattern"></div>
	          </div>
						Parking is <strong>FREE</strong> in the Spruce, Birch, Pine and Cedar lots (<a href="https://flemingcollege.ca/parking">map</a>) after 5PM on Friday. Please be aware that the bank of electric charge stations in the Spruce lot (out front of the KTTC) are reserved for staff parking only.
					</div>
				</div>

				<div id="01" class="gj-sidebar-widget">
					<div class="widget widget_recent_entries">
						<div class="sub">
							<h4>Registration</h4>
							<div class="gj-right-pattern"></div>
						</div>
						Both visitors and participants are required to sign in inside of room #1. Any person found without a valid pass will be asked to sign in or leave the premises immediately.
					</div>
				</div>

				<div id="01" class="gj-sidebar-widget">
					<div class="widget widget_recent_entries">
						<div class="sub">
							<h4>Food &amp; Catering</h4>
							<div class="gj-right-pattern"></div>
						</div>
						Throughout the course of the event you may choose to bring in food and/or drinks, we would prefer you try to keep the mess to the lounge area. However, food and drinks are allowed in the main area.
					</div>
				</div>

				<div id="01" class="gj-sidebar-widget">
					<div class="widget widget_recent_entries">
						<div class="sub">
							<h4>Workspaces</h4>
							<div class="gj-right-pattern"></div>
						</div>
						On the map, our primary room is going to be where the main festivities are going to take place, we do have the entire building just incase. We'll have to wait and see how things go!
					</div>
				</div>


			</div>
		</div>
  </div>
</div>
