	<div class="gj-container">
		<div class="container">
			<div class="gj-venue-box">
				<div class="gj-hotel-name gj-uppercase">{{ site.data.latest.location }}</div>
				<div class="gj-venue-address">
					<div class="gj-address-1">{{ site.data.latest.address-1 }}</div>
					<div class="gj-address-2">{{ site.data.latest.address-2 }}</div>
					<div class="gj-address-3">{{ site.data.latest.address-3 }}</div>
				</div>
			</div>
		</div>
		<div class="gj-google-map">
			<div id="map" class="gj-map" style="height:400px;"></div>
		</div>
	</div>
