    <div class="gj-summary-info">
      <div class="container">
				<ul class="gj-summary-box">
					<li class="two-thirds columns">
						<div class="gj-location-event">
							<i class="icon-calendar"></i>
							<div class="gj-info">
								<div class="gj-bar-head">{{ site.data.latest.title }}</div>
								<div class="gj-bar-title">{{ site.data.latest.date_long }}</div>
							</div>
						</div>
					</li>
					<li class="one-third columns">
						<div class="gj-subscribe-event">
							<h2>Subscribe To Mail List</h2>
							<form action="#" class="has-validation-callback" id="mailinglist">
								<div class="gj-newsletter-box">
								<input type="text" name="gj-newsltter-email" id="EMAIL" placeholder="Type Your Email" value="">
								</div>

								<div class="gj-newsletter-submit">
								<input type="submit" name="gj-newsltter-submit" value="Submit">
								</div>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
