<div id='sponsors' class="gj-container container-no-margin gj-padding background-006">
  <div class="container ">
    <div class="gj-section-title-1 gj-dark">
      <div class="gj-pre-title gj-short-border">
        <div class="gj-title-icon"><i class="icon-thumbs-up"></i></div>
      </div>
      <div class="gj-title gj-uppercase">Sponsors</div>
      <div class="gj-subtitle"><p>This event would not have been possible without the contributions of our sponsors. We would like to extended our sincere thanks and appreciation to them for putting their faith in our noble cause.</p></div>
    </div>
      <div id="sponsors-list">
  {% assign gold = site.data.latest-sponsors | where: 'tier', 'gold' %}
  {% assign silver = site.data.latest-sponsors | where: 'tier', 'silver' %}
  {% assign bronze = site.data.latest-sponsors | where: 'tier', 'bronze' %}
        <div class="gj-sponsors gold-sponsors">
          <div class="gj-team-item gj-team-box-content sponsors-title">
            <a name="team"><div class="gj-title gj-uppercase">Gold <span>Tier</span></div></a>
            <div class="gj-hr-title"></div>
          </div>
          <ul>
        {% for sponsor in gold %}
            <li><a href="{{ sponsor.url }}"><div class="slide-contents"><img src="{{ sponsor.img | prepend: site.baseurl }}" alt="{{ sponsor.name }}"></div></a></li>
        {% endfor %}
          </ul>
        </div>

        <div class="gj-sponsors silver-sponsors">
          <div class="gj-team-item gj-team-box-content sponsors-title">
            <a name="team"><div class="gj-title gj-uppercase">Silver <span>Tier</span></div></a>
            <div class="gj-hr-title"></div>
          </div>
          <ul>
        {% for sponsor in silver %}
            <li><a href="{{ sponsor.url }}"><div class="slide-contents"><img src="{{ sponsor.img | prepend: site.baseurl }}" alt="{{ sponsor.name }}"></div></a></li>
        {% endfor %}
          </ul>
        </div>

        <div class="gj-sponsors bronze-sponsors">
          <div class="gj-team-item gj-team-box-content sponsors-title">
            <a name="team"><div class="gj-title gj-uppercase">Bronze <span>Tier</span></div></a>
            <div class="gj-hr-title"></div>
          </div>
          <ul class="no-bottom-margin">
        {% for sponsor in bronze %}
            <li><a href="{{ sponsor.url }}"><div class="slide-contents"><img src="{{ sponsor.img | prepend: site.baseurl }}" alt="{{ sponsor.name }}"></div></a></li>
        {% endfor %}
          </ul>
        </div>
        <!-- <div class="gj-sponsors media-partners">
          <div class="gj-team-item gj-team-box-content sponsors-title">
            <a name="team"><div class="gj-title gj-uppercase">Funding <span>Partners</span></div></a>
            <div class="gj-hr-title"></div>
          </div>
          <ul class="no-bottom-margin">
            <li><a href="http://sofii.ca/"><div class="slide-contents"><img src="/content/img/event/04/sponsors/sofii.jpg" alt="Southern Ontario Fund for Investment in Innovation"></div></a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
