<div id='gallery' class="gj-container container-no-margin gj-padding background-003">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container">
                <div class="gj-section-title-1 gj-dark">

                    <div class="gj-pre-title gj-short-border">
                    <div class="gj-title-icon-light"><i class="icon-gamejam"></i></div>
                    </div>
                    <div class="gj-title gj-title-light gj-uppercase">Event Branding</div>
                    <div class="gj-subtitle"><p>Each of our events has a specific branding which uniquely identifies it in the series of PTBO Game Jam events. Often we create signature pieces of artwork for promotional purposes which are made available to media. If you require a higher resolution version of the provided artwork, please don’t hesitate to ask. Vector versions of some event specific branding is available upon request, and don't forget to have a quick peak at our actual <a href="{{ site.data.links-relative.brand }}" title="Brand Guidelines">Brand Guidelines</a>.</p></div>
                    <!-- Section Title -->
                </div>

                <div class="container">
                  <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/05/PTBOGameJam05-Light.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 05 Logo (Transparent)" srcset="{{ "/content/img/event/05/PTBOGameJam05-Light.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/05/PTBOGameJam05-Light@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/05/PTBOGameJam05-Light.png" | prepend: site.baseurl }}" title="PTBO Game Jam 05 Logo (Transparent)">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                  </div>
                  <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/05/PTBOGameJam05-Dark.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 05 Logo (Transparent)" srcset="{{ "/content/img/event/05/PTBOGameJam05-Dark.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/05/PTBOGameJam05-Dark@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/05/PTBOGameJam05-Dark.png" | prepend: site.baseurl }}" title="PTBO Game Jam 05 Logo (Transparent)">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                  </div>
                  <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/05/PTBOGameJam05-Mono.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 05 Logo (Mono)" srcset="{{ "/content/img/event/05/PTBOGameJam05-Mono.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/05/PTBOGameJam05-Mono@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/05/PTBOGameJam05-Mono.png" | prepend: site.baseurl }}" title="PTBO Game Jam 05 Logo (Mono)">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                  </div>
              </div>

              <div class="container">
                   
                  <div class="gj-grid-item">
                      <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/05/PTBOGameJam05-Banner.jpg" | prepend: site.baseurl }}" alt="05 Banner" srcset="{{ "/content/img/event/05/PTBOGameJam05-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/05/PTBOGameJam05-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                        <a href="{{ "/files/events/05/PTBOGameJam05-Banner.png" | prepend: site.baseurl }}" title="05 Banner">
                          <div class="gj-image-overlayer"></div>
                          <div class="gj-image-hover"><i class="icon-link"></i></div>
                        </a>
                      </div>
                  </div>
                
                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/04/PTBOGameJam04-Banner.jpg" | prepend: site.baseurl }}" alt="04 Banner" srcset="{{ "/content/img/event/04/PTBOGameJam04-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/04/PTBOGameJam04-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/04/PTBOGameJam04-Banner.png" | prepend: site.baseurl }}" title="04 Banner">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
             

                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/03/PTBOGameJam03-Banner.jpg" | prepend: site.baseurl }}" alt="03 Banner" srcset="{{ "/content/img/event/03/PTBOGameJam03-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/03/PTBOGameJam03-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/03/PTBOGameJam03-Banner.png" | prepend: site.baseurl }}" title="03 Banner">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                

                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/02/PTBOGameJam02-Banner.jpg" | prepend: site.baseurl }}" alt="02 Banner" srcset="{{ "/content/img/event/02/PTBOGameJam02-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/02/PTBOGameJam02-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/02/PTBOGameJam02-Banner.png" | prepend: site.baseurl }}" title="02 Banner">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                
                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Banner.jpg" | prepend: site.baseurl }}" alt="01 Banner" srcset="{{ "/content/img/event/01/PTBOGameJam01-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/01/PTBOGameJam01-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/01/PTBOGameJam01-Banner.png" | prepend: site.baseurl }}" title="01 Banner">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>

              </div>

            </div>
        </div>
