<div id='gallery' class="gj-container container-no-margin gj-padding gj-black-bg">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="gj-section-title-1 gj-dark">

                    <div class="gj-pre-title gj-short-border">
                    <!-- <div class="gj-title-border left"></div> -->
                    <div class="gj-title-icon"><i class="icon-picture color-white"></i></div>
                    <!-- <div class="gj-title-border right"></div> -->
                    </div>
                    <div class="gj-title gj-uppercase">Stock Photos</div>
                    <div class="gj-subtitle"><p>Below is a selection of photos for release from our past and present events that can be used by media and its reproductions. Please note that you are required to use the full-sized watermarked versions available from the click through link.</p></div>
                    <!-- Section Title -->

                </div>
                <div class="media-founder">
                    <div class="photo">
                        <a href="{{ "/files/events/03/PTBOGameJam03-MD.png" | prepend: site.baseurl }}" title="Event Founder &amp; Organizer, Matthew Davey"><img width="200" src="{{ "/content/img/event/03/release/MD.jpg" | prepend: site.baseurl }}" alt="Event Founder &amp; Organizer, Matthew Davey" hdpi="true"/></a>
                        <span><a href="http://reapazor.com">Matthew Davey</a><br />Founder &amp; Organizer</span>
                    </div>
                </div>
                {% for image in site.data.gallery-03 %}
                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ image.img | prepend: site.baseurl }}" alt="{{ image.alt }}" hdpi="true"/>
                      <a href="{{ image.url | prepend: site.baseurl }}" title="{{ image.title }}">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                {% endfor %}
                {% for image in site.data.gallery-02 %}
                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ image.img | prepend: site.baseurl }}" alt="{{ image.alt }}" hdpi="true"/>
                      <a href="{{ image.url | prepend: site.baseurl }}" title="{{ image.title }}">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                {% endfor %}
                {% for image in site.data.gallery-01 %}
                <div class="gj-grid-item">
                    <div class="gj-image gj-image-wrapper"><img width="400" src="{{ image.img | prepend: site.baseurl }}" alt="{{ image.alt }}" hdpi="true"/>
                      <a href="{{ image.url | prepend: site.baseurl }}" title="{{ image.title }}">
                        <div class="gj-image-overlayer"></div>
                        <div class="gj-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
