<div id='profiles' class="gj-container container-no-margin gj-padding gj-black-bg">
    <div class="container ">
        <div class="gj-section-title-1 gj-dark">
            <div class="gj-pre-title gj-short-border">
                <div class="gj-title-icon"><i class="icon-address-card-o color-white"></i></div>
            </div>
            <div class="gj-title gj-uppercase">Event Profiles</div>
            <div class="gj-subtitle"><p>We periodically update our pitch documentation, however in the spirit of transparency we have decided for archival purposes to make available online all previous versions for reference. We have had a great amount of success with this document, and hope that it can help others in crafting their own pitches.</p></div>
        </div>
        <div class="gj-grid-item">
            <div class="gj-image gj-image-wrapper">
                <img src="{{ "/files/profile/PTBOGameJam03_Thumb.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 03 Event Profile"></a>
                <a href="{{ "/files/profile/PTBOGameJam03.pdf" | prepend: site.baseurl }}" title="PTBO Game Jam 03 Event Profile">
                    <div class="gj-image-overlayer"></div>
                    <div class="gj-image-hover"><i class="icon-link"></i></div>
                </a>
            </div>
        </div>  
        <div class="gj-grid-item">
            <div class="gj-image gj-image-wrapper">
                <img src="{{ "/files/profile/PTBOGameJam02_Thumb.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 02 Event Profile"></a>
                <a href="{{ "/files/profile/PTBOGameJam02.pdf" | prepend: site.baseurl }}" title="PTBO Game Jam 02 Event Profile">
                    <div class="gj-image-overlayer"></div>
                    <div class="gj-image-hover"><i class="icon-link"></i></div>
                </a>
            </div>
        </div>  
        <div class="gj-grid-item">
            <div class="gj-image gj-image-wrapper">
                <img src="{{ "/files/profile/PTBOGameJam01_Thumb.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01 Event Profile"></a>
                <a href="{{ "/files/profile/PTBOGameJam01.pdf" | prepend: site.baseurl }}" title="PTBO Game Jam 01 Event Profile">
                    <div class="gj-image-overlayer"></div>
                    <div class="gj-image-hover"><i class="icon-link"></i></div>
                </a>
            </div>
        </div>    
    </div>
</div>
