/* Fontawesome Icon ========================================*/
.gj-fontawesome-icon-list i {
  color: #000000;
  font-size: 14px;
  width: 30px;
  text-align: center;
}
/* Fontawesome Icon Listing Page */
.gj-fontawesome-icon-list li{
  border:1px solid #eee;
  padding:10px;
}
.gj-fontawesome-icon-list li:hover{
  background:#f9f9f9;
}
.gj-fontawesome-icon-list li i{
  font-size: 20px;
  color:#666
}
.gj-icon-listing-1 li{
  float:left
}
.gj-icon-listing-1 .icon{
  color:#000 !important;
}
.gj-dark .icon{
  color:#000;
}
.gj-light .icon{
  color:#fff;
}
.gj-icon-listing-1.gj-light .icon{
  color:#fff !important;
}

// Handle Our Icons Properly
[class^="icon-"], [class*=" icon-"]
{
  font-size: inherit;
  float:none;
  display: inline-block;
}

[class^="icon-"]:before, [class*=" icon-"]:before
{
 font-size: inherit;
 float:none;
 display: inline-block;
 //padding:10px;
}

// Fixes
.icon-graduation-cap, .icon-newspaper
{
  margin-left: -12px;
}

.icon-bed:before
{
  margin-left: 0px;
}


// Page Specific
.gj-location-event i.icon-calendar
{
  margin-top: 10px;
}


.right-spacer
{
  //margin-right: 10px;
}



.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
