.live-page
{
  color: #dbecff;
}

.live-page .gj-countdown .counter-wrapper li {  
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: #dbecff;
  border-style: solid;
  border-width: 4px;
  padding: 0px !important;
  width: 15vw;
  height: 15vw;
  display: inline-block !important;
}

.live-page .gj-countdown .counter-wrapper li .count
{
  position: relative !important;
  height: 15vw;
  width: 15vw;
  text-align: center;
  vertical-align: middle;
  padding: 0px !important;
  left: -4px !important;
  top: -4px !important;
  line-height: 13.5vw !important;
  font-size: 12vw !important;
  overflow: hidden;
}

img#live-branding {
  position: absolute;
  top: 0.8vw;
  left: 1vw;
  max-width: 20%;
  z-index: 99;
}
div#live-wifi {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

div#live-wifi-ssid
{
    text-align: right;    
    font-weight: lighter;
}
div#live-wifi-passwd
{
    text-align: right;   
    font-weight: bold;
}

div#live-countdown
{
  position: absolute;
  top: 32vh;
  width: 100%;
}