@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {



/*---------------------------------------------------------------
  [4.0 Team ]
---------------------------------------------------------------*/

.gj-team-details .gj-team-social ul li i {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
 }

 .gj-team .gj-team-item {
    width: 31.9%;
  }

.gj-team .gj-team-item img {
    width: 100%;
  }

.gj-team-item {
  width: 19.2%;
}


.gj-image-wrapper .gj-image-hover-info {
  margin-left: -60px;
}

/*---------------------------------------------------------------
  [7.0  Header ]
---------------------------------------------------------------*/

  .gj-menu {
    display:none;
  }


/*---------------------------------------------------------------
  [8.0  Slider ]
---------------------------------------------------------------*/

  .gj-info-icon i {
    font-size: 35px !important;
    padding:3px;
  }

  .gj-info-content .info-title {
    font-size: 16px !important;
    line-height:18px;
    text-transform: uppercase;
  }

  .gj-info-content .info-description {
    font-size: 14px !important;
  }

  .gj-event-title-box .gj-event-title {
    font-size: 30px;
  }
  .gj-event-title-box .gj-event-location {
    font-size: 18px;
  }
  .gj-event-title-box .gj-event-pretitle {
    font-size: 20px;
  }

  .gj-countdown .counter-wrapper li {
    margin-top:15px;
  }

  .gj-event-play {
    height: 200px;
    width: 200px;
    padding-top:30px;
  }
  .gj-event-title-box {
    width: 560px;
    height: 200px;
  }
  .gj-event-play i {
    width: 145px;
    height: 145px;
    line-height: 125px;
    font-size: 70px;
  }

  .gj-event-register .gj-ticket-type {
    float: left;
  }

/*---------------------------------------------------------------
  [9.0  According ]
---------------------------------------------------------------*/


  .gj-event-schedule .right-position {
    width: 830px;
  }


/*---------------------------------------------------------------
  [10.0  Tabs ]
---------------------------------------------------------------*/


  .shortcode_tab_e.gj-white-tab.gj-arrow-tab ul li {
    width:32.5%;
  }

  .shortcode_tab_e.gj-white-tab.gj-arrow-tab ul.gj-subtab li {
    font-size: 16px;
    line-height: 1.5;
  }


/*---------------------------------------------------------------
  [11.0  Ticket Form  ]
---------------------------------------------------------------*/



  .gj-ticket-form h1 {
    font-size: 32px;
  }

  .gj-ticket-form .gj-ticket-type {
    width:46%;
  }

  .gj-countdown-form .gj-ticket-form {
    height: 410px;
  }

  .gj-ticket-form, .gj-countdown-box {
    padding: 40px 40px 0px 40px;
  }


  /*------------- Form ---------------*/

  .gj-countdown-form .gj-countdown-box h1 {
     font-size: 32px;
  }
  .gj-countdown .counter-wrapper ul {
    margin:0px;
    padding:0px;
    padding-top:20px;
  }
  .gj-countdown .counter-wrapper li {
    margin-right: 4px;
    margin-top: 0px;
    margin-left: 4px;
    height:80px;
    width:80px;
    padding:0px;
  }

  .gj-countdown .counter-wrapper li .count {
    font-size:25px;
  }

  .gj-countdown .counter-wrapper li .count-text {
    font-size:18px;
  }

  .gj-countdown-form .gj-countdown-box {
    height:408px;
  }



  .gj-ticket-form .gj-ticket-type, .gj-ticket-form .gj-ticket-valid {
    width: 46.8%;
    float:left;
  }



  /*------------- Count Down---------------*/


/*---------------------------------------------------------------
  [13.0 Count Up  ]
---------------------------------------------------------------*/
.gj-counter-item .gj-counter-info .gj-counter-text {
  font-size: 17px;
}

.gj-counter-item .gj-counter-info .gj-counter-number {
  font-size: 44px;
}

/*---------------------------------------------------------------
  [13.0  Price Table  ]
---------------------------------------------------------------*/


  .gj-price-table .gj-price-item .gj-price {
    font-size: 75px;
    padding: 20px 20px 0px;
    line-height: 95px;
  }

  .gj-price-table .gj-price-item .gj-package-name {
    font-size: 30px;
    margin-bottom: 25px;
  }


/*---------------------------------------------------------------
  [16.0  FAQ BOX  ]
---------------------------------------------------------------*/

  .gj-faq-description p {
    font-size: 15px;
  }


/*---------------------------------------------------------------
  [17.0  Interactive Map  ]
---------------------------------------------------------------*/


  .gj-map-company > ul > li {
    width: 24.9%;
  }

  .gj-single-point:nth-of-type(3) {
    top: 25%;
  }

  .gj-single-point:nth-of-type(1) {
     bottom: 50%;
   }

   .gj-single-point:nth-of-type(2) {
    bottom: 38%;
  }

/*---------------------------------------------------------------
  [18.0  Sponsor Logo  ]
---------------------------------------------------------------*/
  .gj-sponsor{
      overflow: hidden
    }

/*---------------------------------------------------------------
  [19.0  Portfolio ]
---------------------------------------------------------------*/


.grid-item-width-double {
  width: 38.6% !important;
  height: 38.6%;
}
.gj-grid-item {
     width: 18.7%;
}

.gj-grid-item.grid-item-width-double-only {
  height: 182px;
  width:38.7%;
}


/*---------------------------------------------------------------
  [20.0  Summary Info  ]
---------------------------------------------------------------*/


  .gj-summary-info li .gj-info .gj-bar-head {
    font-size:30px;
  }

  .gj-summary-info li .gj-info .gj-bar-title {
    font-size:16px;
  }

  .gj-summary-info li i {
    font-size:47px;
  }

  .gj-summary-info li .gj-subscribe-event .gj-newsletter-box {
    width: 180px;
  }

  .gj-summary-info li .gj-subscribe-event h2 {
    font-size:14px;
  }


/*---------------------------------------------------------------
  [21.0  Blog  ]
---------------------------------------------------------------*/

.gj-blog .gj-image-wrapper .gj-blog-more i {
  font-size: 30px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-left: -10px;
}


/*---------------------------------------------------------------
  [22.0  PAGE 404  ]
---------------------------------------------------------------*/


  .gj-error .gj-error-msg {
    font-size: 45px !important;
  }

  .gj-error .gj-error-code {
    font-size: 250px !important;
  }

}
