@media only screen and (min-width: 480px) and (max-width: 767px) {

	/*---------------------------------------------------------------
		[1.0 Footer ]
	---------------------------------------------------------------*/

	.gj-footer-social li i {
		width: 45px !important;
		height: 45px !important;
		line-height: 45px !important;
		font-size: 26px !important;
	}
	.faq-item-block
	{
	  width: 45px;
	  height: 45px;
	  line-height: 45px;
	  font-size: 26px;
	  margin-right: 20px;
	}
	.gj-accordion .description{
	  margin-left: 20px;
	  padding-left: 42px;
	}
	.gj-footer-social li {
		margin-right: 2px !important;
	}

	.gj-footer-social {
	    padding: 30px 0px 0px !important;
	}



	/*---------------------------------------------------------------
		[2.0 Services ]
	---------------------------------------------------------------*/

		.gj-servicebox-1 .gj-service-item {
			padding-bottom:20px;
			margin-bottom:20px;
		}

		/*--------Services style #1-------*/


	/*---------------------------------------------------------------
		[2.0 Services ]
	---------------------------------------------------------------*/

		.gj-servicebox-1 .gj-service-item .service-description p {
			padding: 0px 0px;
		}

		/*--------Services style #1-------*/


	/*---------------------------------------------------------------
		[3.0 Media Center ]
	---------------------------------------------------------------*/


		.gj-media-center .one-third.columns {
			margin-bottom: 40px;
		}

	/*---------------------------------------------------------------
		[4.0 Team ]
	---------------------------------------------------------------*/



		 .gj-team img {
			width:100%;
		 }

		 .gj-team .gj-team-item {
		 	padding-bottom: 0;
			width: 100%;
			margin-right: 8px;
		 }


		.gj-team-item.gj-team-box-content {
			width: 100%;
		}

		.gj-team-item {
			height: auto;
			width: 100%;
		}

	/*---------------------------------------------------------------
		[5.0  Countup ]
	---------------------------------------------------------------*/

		.gj-countup .count-item {
			padding-bottom:20px;
			margin-bottom:20px;
		}

		.gj-countup .count-item .count-text {
			font-size: 20px;
		}

		.gj-countup .count-item .count-number {
			font-size: 40px;
		}

		.gj-countup .four.columns {
			width: 360px;
		}





	/*---------------------------------------------------------------
		[6.0  Section Title ]
	---------------------------------------------------------------*/


		.gj-section-title-1 .gj-title {
		    font-size: 30px !important;
		}

		.gj-section-title-1 .gj-title-border {
			width: 180px;
		}


	/*---------------------------------------------------------------
		[7.0  Header ]
	---------------------------------------------------------------*/

		.gj-menu {
			display:none;
		}

		.gj-event-title-box .gj-event-pretitle {
			font-size: 20px !important;
		}

		.gj-event-title-box .gj-event-title {
			font-size: 30px !important;
		}

		.gj-event-title-box .gj-event-location {
			font-size: 16px !important;
		}

		.gj-event-play i {
			width: 80px !important;
			height: 80px !important;
			line-height: 60px !important;
			font-size: 30px !important;
		}

		.gj-event-title-box {
			width: 300px !important;
			height: 120px !important;
		}

		.gj-event-play {
			width: 120px !important;
			height: 120px !important;
			padding-top: 20px !important;
		}

		.gj-event-countdown {
			display:none !important;
		}

		.gj-right-vertical-border {
			right: 110px;
			border-left:none !important;
		}

		.gj-right-vertical-border .gj-date{
			display:none;
		}


	/*---------------------------------------------------------------
		[8.0  Slider ]
	---------------------------------------------------------------*/

		.lander-info {
			display:none;
		}
		

	/*---------------------------------------------------------------
		[9.0  According ]
	---------------------------------------------------------------*/


		.gj-accordion .title {
			font-size:18px;
		}

		/*--------------- Normal According --------------*/


		.gj-event-schedule .item {
		    display: inline;
		}

		.gj-event-schedule .left-position {
    		width: 100%;
			float:none;
		}

		.gj-event-schedule .right-position {
			width: 100%;
			float: none;
			display: inherit;
			margin-right: 0px;
			border-left: none;
			margin-left: 0px;
			padding-left: 0px;
			padding-bottom: 0px;
		}

		.gj-event-schedule .head {
			text-align: center;
			padding-bottom: 20px;
		}

		.gj-event-schedule .date span {
			padding-right: 0px;
		}

		.gj-event-schedule .date i {
 		    padding: 0px 3px 0px 15px;
		}

		.gj-event-schedule p {
			text-align:left;
		}


		/*------------- Cercle According-------------*/


	/*---------------------------------------------------------------
		[10.0  Tabs ]
	---------------------------------------------------------------*/


		.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul li {
			width:31%;
		    padding: 24px 0px 25px;
			margin-right: 14.5px;
		}

		.shortcode_tab_e.gj-white-tab.gj-arrow-tab li.resp-tab-active {
			width:31%;
		    padding: 24px 0px 25px;
		}

		.gj-tab-date {
		    font-size: 30px;
		}

		.gj-tab-day {
		    font-size: 20px;
		}

		.shortcode_tab_e li {
			min-width: 120px;
		}

		/*----------- Tabs ------------*/



		.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul.gj-subtab li {
			font-size: 16px;
			line-height: 1.5;
		}

		.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul.gj-subtab li {
			width:100%;
			padding-bottom: 15px;
		}

		/*-------- Sub Tabs -------*/



	/*---------------------------------------------------------------
		[11.0  Ticket Form  ]
	---------------------------------------------------------------*/

		.gj-countdown-form .gj-half-width {
			width: 100% !important;
		}

		.gj-ticket-form h1 {
 		 	font-size: 32px;
		}

		.gj-ticket-form .gj-ticket-type, .gj-ticket-form .gj-ticket-valid {
			width:100%;
		}

		.gj-ticket-form .gj-ticket-type {
			float: none;
			margin-right: 0px;
		}

		.gj-countdown-form .gj-ticket-form {
			height: 480px;
		}

		.gj-ticket-form, .gj-countdown-box {
 		 	padding: 40px 40px 0px 40px;
		}


		/*------------- Form ---------------*/

		.gj-countdown-form .gj-countdown-box h1 {
 		   font-size: 32px;
		}
		.gj-countdown .counter-wrapper ul {
			margin:0px;
			padding:0px;
			padding-top:20px;
		}
		.gj-countdown .counter-wrapper li {
			margin-right: 4px;
			margin-top: 0px;
			margin-left: 4px;
			height:75px;
			width:75px;
			padding:0px;
		}

		.gj-countdown-form .gj-countdown-box {
			height:440px;
		}

		.gj-countdown .counter-wrapper li .count {
			font-size: 25px;
		}

		.gj-countdown .counter-wrapper li .count-text {
    		font-size: 18px;
		}


		/*------------- Count Down---------------*/




	/*---------------------------------------------------------------
		[ 11.0  Sponsor  ]
	---------------------------------------------------------------*/

	.gj-sponsors li {
		width: 202px;
		}

	/*---------------------------------------------------------------
		[ 12.0  Portfolio  ]
	---------------------------------------------------------------*/

		.gj-custom-flex .flex-custom-control-nav li {
			padding: 10px 10px !important;
			width: 32%;
		}

		.grid-item-width-double {
			width: 48%;
			height: 48%;
		}

		.gj-grid-item.grid-item-width-double-only{
			width: 48%;
			height: 48%;
		}

		.gj-grid-item{
			width:48%;
			height: 48%;
			margin: 3px;
		}

		.gj-grid-item-full {
		  margin-bottom: 12px;
		  width:100%;
		  height: 100%;
		}

	/*---------------------------------------------------------------
		[13.0  Testimonial  ]
	---------------------------------------------------------------*/
		.gj-testimonial {
			min-height: 450px;
			padding-top: 20px;
		}

		.gj-testimonial-item .gj-testimonial-image {
			float:none;
			margin-right: 0px;
		}

		.gj-testimonial-details .gj-testimonial-icon {
			height:auto;
		}

		.container-bg-icon i {
    		font-size: 290px;
		}

		.gj-testimonial-item .gj-photo {
			width: 90px;
			height: 90px;
			float: none;
			margin: 20px auto;
		}

		.gj-testimonial-item .gj-testimonial-content {
			width: 100%;
			height: auto;
			float: none;
			margin-left: 0;
		}

		.gj-testimonial-item .gj-testimonial-content .gj-name {
			width: 100%;
		}

		.gj-testimonial-item .gj-testimonial-content .gj-content p {
			color: #fff;
			padding: 10px 20px;
			line-height: 1.2;
			width: 100%;
			text-align: center;
		}
	/*---------------------------------------------------------------
		[13.0  Price Table  ]
	---------------------------------------------------------------*/


		.gj-price-table .gj-price-item {
			margin-bottom:40px;
		}


	/*---------------------------------------------------------------
		[14.0  Google Map  ]
	---------------------------------------------------------------*/

		.gj-hotel-name {
			font-size: 16px;
			font-weight: 500;
		}



	/*---------------------------------------------------------------
		[16.0  FAQ BOX  ]
	---------------------------------------------------------------*/


		.gj-faq .gj-faq-head .gj-faq-title {
			width: 100%;
			float:none;
		}

		.gj-faq-description {
			height:auto;
			padding:30px 20px 20px 20px;
		}

		.gj-faq .gj-faq-head .gj-faq-title::after {
			left:45%;
		}



	/*---------------------------------------------------------------
		[17.0  Interactive Map  ]
	---------------------------------------------------------------*/


		.gj-map-company > ul > li {
			width: 50%;
		}

		.gj-single-point:nth-of-type(3) {
			top: 24%;
			left:16%;
		}

		.gj-single-point:nth-of-type(1) {
 		   bottom: 63%;
		   right:28%;
		 }

		 .gj-single-point:nth-of-type(2) {
			bottom: 59%;
		}

		.gj-single-point:nth-of-type(4) {
    		top: 21%;
			right:16%;
		}

	/*---------------------------------------------------------------
		[18.0  Contact Form  ]
	---------------------------------------------------------------*/


		.gj-contact-form .contact-full-name, .gj-contact-form .contact-email {
			width: 100%;
		}

		.gj-contact-form .contact-full-name {
			float:  none;
			margin-right: 0px;
		}


	/*---------------------------------------------------------------
		[20.0  Summary Info  ]
	---------------------------------------------------------------*/

		.gj-summary-info {
			height:auto;
		}

		.gj-summary-info ul > li {
			border-right: none;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}

		.gj-summary-info::after {
			left:46%;
		}

	/*---------------------------------------------------------------
		[21.0  Blog  ]
	---------------------------------------------------------------*/

	.gj-blog .image img {
		height: 200px !important;
	}

	.full-widthvideo {
		height: 200px !important;
	}


	.nav-links a {
		font-size: 12px !important;
	}

	.gj-page-titlebar .gj-page-titlebar-items .gj-breadcrumb span.current {
		margin-top:20px !important;
		font-size:14px !important;
		padding-top:10px;
		padding-bottom:10px;
		// float:left !important;
	}

	.gj-page-titlebar .gj-page-titlebar-items .gj-breadcrumb a {
		font-size: 14px !important;
	}

	.gj-page-titlebar .gj-page-titlebar-items .gj-breadcrumb {
		font-size:14px !important;
	}

	.gj-page-titlebar .gj-page-titlebar-items .gj-breadcrumb span.pre-breadcrumb::before {
		line-height: 25px !important;
	}


	/*---------------------------------------------------------------
		[22.0  PAGE 404  ]
	---------------------------------------------------------------*/


		.gj-error .gj-error-msg {
			font-size: 25px !important;
		}

		.gj-error .gj-error-code {
			font-size: 150px !important;
			padding: 20px 0px 0px 0px;
		}

	}
