@media only screen and (min-width: 768px) and (max-width: 959px) {




/*---------------------------------------------------------------
[1.0 Footer ]
---------------------------------------------------------------*/

.gj-footer-social li i {
width: 60px;
height: 60px;
line-height: 62px;
font-size: 25px;
}
.faq-item-block
{
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  margin-right: 20px;
}

.gj-accordion .description{
  margin-left: 28px;
  padding-left: 52px;
}

.gj-footer-social {
padding: 30px 0px 0px !important;
}

.gj-footer-social li i {
width: 60px !important;
height: 60px !important;
line-height: 60px !important;
font-size: 27px !important;
}


/*---------------------------------------------------------------
[2.0 Services ]
---------------------------------------------------------------*/

.gj-servicebox-1 .gj-service-item .service-description p {
  padding: 0px 0px;
}


.gj-servicebox-1 .gj-service-item .service-icon i {
  font-size: 50px;
}
/*--------Services style #1-------*/


/*---------------------------------------------------------------
[3.0 Media Center ]
---------------------------------------------------------------*/

.gj-media-center .title {
  font-size: 18px;
}

.gj-media-center .date {
  font-size: 16px;
}

.gj-media-center .date span {
  padding-right: 10px;
}

.gj-media-center .date i {
    padding: 0px 2px 0px 0px;
}

.gj-media-center .one-third.columns {
  width: 362px;
  margin-bottom: 40px;
}


/*---------------------------------------------------------------
[4.0 Team ]
---------------------------------------------------------------*/

.gj-team .four.columns {
  width:360px;
 }

 .gj-team img {
  width:100%;
 }

 .gj-team .gj-team-item {
  //padding-bottom:40px;
 }

 .gj-team .gj-team-item {
  width: 47.9%;
}

.gj-team-item {
  width: 23.9%;
}

.gj-team-item.gj-team-box-content {
  width: 48.7%;
}

.gj-image-wrapper .gj-image-hover-info {
  margin-left: -60px;
}


/*---------------------------------------------------------------
[5.0  Countup ]
---------------------------------------------------------------*/

.gj-countup .count-item .count-text {
  font-size: 20px;
}

.gj-countup .count-item .count-number {
  font-size: 40px;
}

.gj-countup .four.columns {
  width: 360px;
}

.gj-counter-item {
  padding-bottom:30px;
}


/*---------------------------------------------------------------
[6.0  Section Title ]
---------------------------------------------------------------*/


.gj-section-title-1 .gj-title {
    font-size: 35px;
}



/*---------------------------------------------------------------
[7.0  Header ]
---------------------------------------------------------------*/

.gj-menu {
  display:none;
}

/*---------------------------------------------------------------
[8.0  Slider ]
---------------------------------------------------------------*/


.gj-info-icon i {
  font-size: 28px !important;
  padding:5px;
}

.gj-info-content .info-title {
  font-size: 14px !important;
  text-transform: uppercase !important;

}

.gj-info-content .info-description {
  font-size: 10px !important;
}




.gj-event-title-box .gj-event-title {
  font-size: 60px;
}
.gj-event-title-box .gj-event-location {
  font-size: 20px;
}
.gj-event-title-box .gj-event-pretitle {
  font-size: 40px;
}

.gj-countdown .counter-wrapper li {
  margin-top:15px;
}

.gj-event-play {
  height: 200px;
  width: 200px;
  padding-top:30px;
}
.gj-event-title-box {
  width: 560px;
  height: 210px;
}
.gj-event-play i {
  width: 145px;
  height: 145px;
  line-height: 125px;
  font-size: 70px;
}

.gj-right-vertical-border .gj-date{
  display:none;
}

.gj-right-vertical-border {
  right: 110px;
  border-left:none !important;
}

.gj-event-register .gj-ticket-type {
  float: left;
}



/*---------------------------------------------------------------
[9.0  According ]
---------------------------------------------------------------*/


.gj-event-schedule .right-position {
  width: 630px;
}


/*---------------------------------------------------------------
[10.0  Tabs ]
---------------------------------------------------------------*/


.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul li {
  width:31.9%;
}

.gj-tab-date {
  font-size: 30px;
}

.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul li {
  padding: 24px 20px 25px 20px;
  margin-left:8px;
  margin-right:7px;

}

.shortcode_tab_e.gj-white-tab.gj-arrow-tab li.resp-tab-active {
  padding: 24px 20px 25px 20px;
}

.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul.gj-subtab li {
  font-size: 16px;
  line-height: 1.6;
}


.gj-ticket-form .gj-ticket-type, .gj-ticket-form .gj-ticket-valid {
  width: 48.2%;
  float:left;
}


/*---------------------------------------------------------------
[11.0  Ticket Form  ]
---------------------------------------------------------------*/

.gj-countdown-form .gj-half-width {
  width: 100% !important;
}


/*---------------------------------------------------------------
[ 12.0  Testimonial  ]
---------------------------------------------------------------*/


.gj-testimonial-item .gj-testimonial-content .gj-content p {
  width:600px;
}



/*---------------------------------------------------------------
[13.0  Price Table  ]
---------------------------------------------------------------*/


.gj-price-table .gj-price-item .gj-price {
  font-size: 55px;
  padding: 10px 20px 0px;
  line-height: 85px;
}

.gj-price-table .gj-price-item .gj-package-name {
  font-size: 25px;
  margin-bottom: 15px;
}

.gj-price-table .gj-price-item .gj-package-feature {
  padding: 0px 20px 15px;
}

.gj-price-table .gj-price-item .gj-price span {
  font-size: 30px;
}





/*---------------------------------------------------------------
[16.0  FAQ BOX  ]
---------------------------------------------------------------*/


.gj-faq .gj-faq-head .gj-faq-title {
  width: 100%;
  float:none;
}

.gj-faq-description {
  height:auto;
  padding:30px 20px 20px 20px;
}

.gj-faq .gj-faq-head .gj-faq-title::after {
  left:47%;
}

/*---------------------------------------------------------------
[19.0  Portfolio  ]
---------------------------------------------------------------*/

.grid-item-width-double {
width: 48.2% !important;
height: 48.2%;
}

.gj-grid-item {
width: 23.4%;
}

.gj-grid-item.grid-item-width-double-only {
width: 48%;
height: 182px;
}

/*---------------------------------------------------------------
[17.0  Interactive Map  ]
---------------------------------------------------------------*/


.gj-map-company > ul > li {
  width: 24.9%;
}

.gj-single-point:nth-of-type(3) {
  top: 28%;
}

.gj-single-point:nth-of-type(1) {
   bottom: 50%;
 }

 .gj-single-point:nth-of-type(2) {
  bottom: 39%;
}

.gj-single-point:nth-of-type(4) {
    top: 21%;
}

/*---------------------------------------------------------------
[20.0  Summary Info  ]
---------------------------------------------------------------*/


.gj-summary-info li .gj-info .gj-bar-head {
  font-size:25px;
}

.gj-summary-info li .gj-info .gj-bar-title {
  font-size:14px;
}

.gj-summary-info li i {
  font-size:35px;
}

.gj-summary-info li .gj-subscribe-event .gj-newsletter-box {
  width: 145px;
}

.gj-summary-info li .gj-subscribe-event h2 {
  font-size:14px;
}

.gj-summary-info li .gj-newsletter-submit input {
  width:70px;
  font-size:14px;
  padding:0px;
}


/*---------------------------------------------------------------
[21.0  Blog  ]
---------------------------------------------------------------*/

.container.with-sidebar .sixteen.columns {
width: 740px !important;
}

/*---------------------------------------------------------------
[22.0  PAGE 404  ]
---------------------------------------------------------------*/


.gj-error .gj-error-msg {
  font-size: 35px !important;
}

.gj-error .gj-error-code {
  font-size: 200px !important;
}

.gj-team div:nth-child(2)
{
  padding-left: 0px;
  margin-left: 0px;
}

#sidebar { display: none; }
}
