/* Dark Skin */


.gj-section-title-1 .gj-title, .gj-media-center .title , .gj-servicebox-1 .gj-service-item .service-title a , .gj-event-schedule .title {
    color: #ffffff !important;
}

body {
	background:#000000 !important;
}


.gj-countdown-box.gj-white-bg p , .gj-testimonial-content .gj-testimonial-description p {
    color: #666666 !important;
}



.gj-section-title-1 .gj-title-border , .gj-countdown-box.gj-white-bg{
	background:#ffffff !important;
}

.gj-section-title-1 .gj-title-border-light {
	background:$grey-color-dark !important;
}

.gj-section-title-1 .gj-title-light {
	color:$grey-color-dark !important;
}

.gj-faq-description{
    background: #ffffff !important;
    color: #000000 !important;
}


.shortcode_tab_e .resp-tabs-container {
	border: none !important;
	background: #292929 !important;
}


.gj-map-company > ul > li {
	border: 4px solid #000 !important;
	color: #fff !important;
	background: #111!important;
}


.gj-custom-flex .flex-custom-control-nav li a {
	background:#000000 !important;
}

.container-bg-icon i {
    font-size: 550px;
    color: #333;
}


.gj-white-bg {
    background-color: #000000 !important;
}
.gj-grey-bg {
    background-color: $grey-color-dark-more !important;
}

.gj-light .gj-team-item.gj-team-box-content .gj-title {
	color: #111 !important;
}

.gj-team-item.gj-team-box-content .gj-title {
	color:#FFFFFF !important;
}


.gj-footer-widget {
	background: $grey-color-dark-more !important;
}


.gj-post-footer {
	background:#000000 !important;
}

.gj-media-center .description {
	color:#000000 !important;
}

.gj-media-center .date span {
	color:#000000 !important;
}


/* ------------------------------------------------------------------------ */
/* Color
/* ------------------------------------------------------------------------ */
.gj-info-content .info-title , .gj-section-title-1 .gj-title-icon i , .gj-servicebox-1 .gj-service-item .service-icon i , .gj-event-schedule .date ,
.gj-event-schedule .date i , .gj-media-center .date i , .gj-countdown-form .gj-countdown-box h1 , .gj-btn-default.gj-outline , .gj-testimonial-details .gj-testimonial-icon i , .gj-testimonial-content .gj-testimonial-name , a , .gj-price-item.gj-white .gj-price,.gj-price-item.gj-white .gj-package-name,.gj-price-item.gj-white .gj-package-feature , .gj-btn-default.gj-outline i , .gj-readmore a , .gj-blog .title a , .gj-team-details .gj-team-social ul li:hover i , .gj-team-item.gj-team-box-content .gj-title span
{
	color: $primary-color ;
}


.gj-page-titlebar .gj-page-titlebar-items .gj-breadcrumb a:hover , .gj-section-title-1 .gj-title-icon i , .gj-info-content .info-title , .gj-servicebox-2 .service-icon i , .gj-testimonial-item .gj-testimonial-content .gj-name i{
	color:$primary-color !important;
}

a:hover {
	color:#000000;// !important;
}


.gj-btn-default {
	color: #ffffff !important;
}
.gj-btn-default:hover {
	color:#ffffff !important;
}
.gj-btn-default.gj-outline {
	color:$primary-color !important;
}
.gj-btn-default.gj-outline:hover {
	color:#ffffff !important;
}


/* ------------------------------------------------------------------------ */
/* Background
/* ------------------------------------------------------------------------ */
::selection
{
	background:$primary-color !important;
}
::-moz-selection
{
	background:$primary-color !important;
}
.gj-servicebox-1 .gj-service-item .service-title-border , .gj-event-schedule .image i , .gj-team-details , .grid-item ,
.gj-newsletter .gj-form-wrapper button , .gj-single-point > a  , .gj-countdown .counter-wrapper li  , .gj-faq .gj-faq-head .gj-faq-title , .gj-contact-form input.gj-submit, .gj-menu .main-menu li:hover, .gj-menu .main-menu li a.mPS2id-highlight , .gj-page-titlebar .gj-page-titlebar-items .gj-breadcrumb span.current , .gj-image-container .gj-post-format , .gj-sidebar-widget .gj-right-pattern , .gj-blog-item .flex-control-paging li a.flex-active , .gj-page-search.wide .gj-form-wrapper button , .gj-ticket-form .gj-btn-default , .gj-price-table .gj-price-item , .gj-pagination span.current , #comment-submit, .gj-testimonial-item .gj-testimonial-content .gj-name , .gj-summary-info , .gj-footersection-widget .gj-right-pattern , .gj-hr-title , .gj-servicebox-2 .gj-service-item .service-title-border
{
	background:$primary-color !important;
}

.gj-sponsor .flex-control-nav.flex-control-paging li a , .gj-testimonial .flex-control-nav.flex-control-paging li a , .gj-price-table .gj-price-item , .gj-btn-default
{
	background:$primary-color;
}
.gj-price-item.gj-white{
  background:#fff !important;
}

/* ------------------------------------------------------------------------ */
/* Background Color
/* ------------------------------------------------------------------------ */

.gj-default-bg , .gj-pricing-switcher .gj-switch , table th , .page-title span , .gj-sidebar-widget .widget_search input.search-submit , .shortcode_tab_e.gj-white-tab.gj-arrow-tab li.resp-tab-active , .gj-price-table .gj-price-item.gj-white .gj-price , .gj-price-table .gj-price-item.gj-white .gj-package-name
{
	background-color:$primary-color !important;
}

/* ------------------------------------------------------------------------ */
/* Background RGBA Color
/* ------------------------------------------------------------------------ */

.grid-item .gj-portfolio-hoverlayer  , .gj-media-center .gj-image-wrapper .gj-image-overlay , .gj-blog .gj-image-wrapper .gj-image-overlay , .gj-image-wrapper .gj-image-overlayer {
	background: $primary-color-transparent !important;
}

/* ------------------------------------------------------------------------ */
/* Border Color
/* ------------------------------------------------------------------------ */

.gj-btn-default.gj-outline , .gj-testimonial .flex-control-nav.flex-control-paging li a.flex-active , .gj-sponsor .flex-control-nav.flex-control-paging li a.flex-active , .gj-price-item.gj-white .gj-package-feature li , .gj-blog-item .flex-control-paging li a , .gj-ticket-form .gj-btn-default:hover , .gj-pagination span.current , .gj-pagination a.page-numbers
	{
		border-color:$primary-color !important;
	}
.gj-faq .gj-faq-head .gj-faq-title::after
	{
	border-color: $primary-color transparent !important;
	}
.shortcode_tab_e.gj-white-tab.gj-arrow-tab ul li.resp-tab-active::after , .gj-summary-info::after
{
	border-color: $primary-color transparent;
}
.gj-btn-default {
	border-color:$primary-color;
}


/* ------------------------------------------------------------------------ */
/* Border Left Color
/* ------------------------------------------------------------------------ */

.page-title span::before {
	border-left-color:$primary-color !important;
}


/* ------------------------------------------------------------------------ */
/* Border Right Color
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* Border Top Color
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* Border Bottom Color
/* ------------------------------------------------------------------------ */
.resp-tab-item.childtab_1.resp-tab-active , .resp-tab-item.childtab_2.resp-tab-active , .resp-tab-item.childtab_3.resp-tab-active
 {
	border-bottom-color:$primary-color !important;
 }
/* ------------------------------------------------------------------------ */
/* Variant Background Color
/* ------------------------------------------------------------------------ */
.gj-bg-defualt-1{background-color:#c63f32 !important}
.gj-bg-defualt-2{background-color:#ad3b30 !important}
.gj-bg-defualt-3{background-color:#852f27 !important}
.gj-bg-defualt-4{background-color:#5b1a13 !important}
