---
layout: default
title: Blog
titlebar: title-018.jpg
blog: current
---
<div class="container with-sidebar">
  <div class="posts sixteen columns gj-padding alpha gj-blog">
    {% for post in paginator.posts %}
    <div id="post-{{ post.code }}" class="gj-blog post type-post hentry">
      <div class="gj-blog-item">
        <div class="gj-image-container">
          <a href="{{ site.baseurl }}{{ post.url }}">
          {% if post.image %}
          <div class="gj-blog-image">
              <div class="image gj-image-wrapper">
                <img width="0" height="0" src="/content/img/post/{{post.image}}" class="attachment-blog size-blog " draggable="false" hdpi="true">
                <div class="gj-image-overlay"></div>
                <div class="gj-image-hover">
                  <a href="{{ site.baseurl }}{{ post.url }}" class="gj-blog-more"><i class="icon-doc-text"></i></a>
                </div>
              </div>
          </div>
          {% endif %}
          </a>
          <div class="gj-blog-content clearfix">
            <div class="gj-blog-head">
                <div class="gj-post-format"><a href="{{ site.baseurl }}{{ post.url }}"><i class="icon-{{post.icon}}"></i></a></div>
                <div class="gj-blog-meta">
                    <div class="gj-event-date">{{ post.date | date_to_string }}</div>
                </div>
                <div class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
            </div>
            <article>{{ post.excerpt | markdownify }}</article>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="gj-pagination">
      {% for i in (1..paginator.total_pages) reversed %}
        {% if i == 1 %}
          {% if paginator.page == 1 %}
            <span class="current">1</span>
          {% else %}
            <a class="page" href="{{ site.baseurl }}/blog/">1</a>
          {% endif %}
        {% elsif i == paginator.page %}
          <span class="current">{{ paginator.page }}</span>
        {% else %}
          <a class="page" href="{{ site.baseurl }}/blog/page/{{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include sidebar-blog.html %}
</div>
{% include block-summary.html %}
