---
layout: default
title: Tags
breadcrumb: blog
titlebar: title-009.jpg
permalink: /blog/tags/
---
{% assign sortedtags = site.tags | sort %}
<div id="tags" class="gj-container gj-padding gj-light">
  <div class="container">
    <div class="gj-section-title-1">
      <div class="gj-pre-title gj-short-border">
        <div class="gj-title-border gj-title-border-light left"></div>
        <div class="gj-title-icon-light"><i class="icon-tags icon-3x"></i></div>
        <div class="gj-title-border gj-title-border-light right"></div>
      </div>
      <div class="gj-title gj-title-light gj-uppercase">POST TAG LIST</div>
      <div class="gj-subtitle"><p>While it would be nice to have individual pages listing the contents of every single tag, GitHub Pages currently doesn't make this an easy task without a lot of manual work. We decided to just make a pretty list with anchors to navigate; a throwback to the old pre CSS days of web design and development. Are we ever glad that we are game developers right now.</p></div>
      <div class="tagcloud">
        {% for tag in sortedtags %}
        <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag[0] | slugify }}" class="tag-link-{{ forloop.index }}" title='{{ tag[0] }}'>{{ tag[0] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="tags-actual" class="gj-container gj-padding gj-light background-002">
  <div class="container">
    {% for tag in sortedtags %}
      <div id="{{ tag[0] | slugify }}" class="gj-sidebar-widget tags-list-item">
        <div class="widget widget_recent_entries">
          <div class="sub">
            <h4>{{ tag[0] }}</h4>
            <div class="gj-right-pattern"></div>
          </div>
          <ul>
            {% for post in tag[1] %}
            <a href="{{ site.baseurl }}{{ post.url }}"><li><i class="icon-{{ post.icon }}"></i>{{ post.title }}<span class="post-date">{{ post.date | date_to_string }}</span></li></a>
            {% endfor %}
      		</ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% include block-summary.html %}
