---
layout: default
---
  <div class="container with-sidebar">
    <div class="posts sixteen columns gj-padding alpha gj-blog">
      <div id="post-{{ page.code }}" class="gj-blog post-{{ page.code }} post type-post status-publish format-video has-post-thumbnail hentry">
        <div class="gj-blog-item">
          {% if page.image %}
          <div class="gj-blog-image">
              <div class="image gj-image-wrapper">
                <img width="0" height="0" src="/content/img/post/{{page.image}}" class="attachment-blog size-blog " draggable="false" hdpi="true">
              </div>
          </div>
          {% endif %}
          <div class="gj-blog-content clearfix">
            <div class="gj-blog-head">
              <div class="gj-post-format"><i class="icon-{{ page.icon }}"></i></div>
              <div class="gj-blog-meta">
                <div class="gj-event-date">{{ page.date | date_to_string }}</div>
              </div>
              <div class="title"><a href="#{{ page.title | slugify }}">{{ page.title }}</a></div>
            </div>
            <div class="gj-blog-metabox gj-single">
              <span class="meta_categories"><i class="icon-tags"></i>
                {% for tag in page.tags %}
                  {% if forloop.last %}
                    <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>
                  {% else %}
                    <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>,
                  {% endif %}
                {% endfor %}
              </span>
            </div>
            <article>
            {{ content }}
            </article>
          </div>
        </div>
    </div>
  </div>
  {% include sidebar-blog.html %}
</div>
{% include block-summary.html %}
